body #book {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#book code {
  font-weight: normal;
  color: #bf616a;
  background: #eee;
}

#book div.code div.highlight pre {
  font-weight: normal;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace
}